<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ecentura_portfolio" frontName="ecentura_portfolio">
            <module name="Ecentura_Portfolio"/>
        </route>
    </router>
</config>
