#tab_element{
    margin: 22px 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.tabs-horiz{
    display: flex;
    list-style: none;
}

.tabs-horiz li{
    margin: 0 22px;
}

.portfolio_cate_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio_cate_item{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ccc;
}

.owl-carousel .owl-nav.disabled{
    display: block;
}
.owl-nav{
    text-align: center;
}
.owl-prev span, .owl-next span{
    font-size: 50px;
}
